
@{
    ViewData["Title"] = "AllEquipment";
    Layout = "~/Views/Shared/_Layout.cshtml";
    @using prog3000assignment1.Models
    @model prog3000assignment1.Models.Request
}

<h1>AllEquipment</h1>


<body>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">ID</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Availability</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Equipment x in Repository.GetEquipments())
            {
                if (x.EquipmentAvailability == true)
                {
                    <tr>
                        <td scope="col">@x.EquipmentName</td>
                        <td scope="col">@x.EquipmentID</td>
                        <td scope="col">@x.EquipmentDesc</td>
                        <td scope="col">@x.EquipmentCat</td>
                        <td scope="col">@x.EquipmentAvailability</td>
                    </tr>
                }
            }

        </tbody>
    </table>
</body>


